# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [ ]:
import pandas as pd
pd.set_option("display.max_rows", 5)

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [ ]:
fruits = pd.DataFrame({"Apples" : [30], "Bananas" : [21]})
fruits

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [ ]:
fruit_sales = pd.DataFrame({"Apples" : [35,41], "Bananas" : [21,34]}, index = ["2017 Sales", "2018 Sales"])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [ ]:
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index = ["Flour", "Milk", "Eggs", "Spam"], name = "Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews` by properly modifying the code below

![](https://i.imgur.com/74RCZtU.png)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
reviews = pd.read_csv("/content/drive/MyDrive/통프/winemag-data-130k-v2.csv", index_col = 0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In the above, remove the rows with not available data and save the data into "reviews"

In [ ]:
reviews = reviews.dropna(axis = 0)
reviews.reset_index(drop = True, inplace = True)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
1,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22385,US,There's no bones about the use of oak in this ...,Barrel Fermented,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Flora Springs 2013 Barrel Fermented Chardonnay...,Chardonnay,Flora Springs
22386,US,This opens with herbaceous dollops of thyme an...,Blocks 7 & 22,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Hendry 2012 Blocks 7 & 22 Zinfandel (Napa Valley),Zinfandel,Hendry

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`, and check it with EXCEL.

In [ ]:
# Your code goes here

animals.to_csv("/content/drive/MyDrive/통프/cows_and_goats.csv", index = False)

# From now on, we will use "reviews" data.

## 6.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

Follow-up question: what type of object is `desc`? If you're not sure, you can check by calling Python's `type` function: `type(desc)`.

In [ ]:
desc = reviews.description
type(desc)

pandas.core.series.Series

## 7.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [ ]:
first_description = reviews.description[0]
first_description

"Much like the regular bottling from 2012, this comes across as rather rough and tannic, with rustic, earthy, herbal characteristics. Nonetheless, if you think of it as a pleasantly unfussy country wine, it's a good companion to a hearty winter stew."

## 8. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [ ]:
first_row = reviews.iloc[:1]
first_row

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## 9.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

In [ ]:
first_descriptions = reviews.description[:10]
first_descriptions

0    Much like the regular bottling from 2012, this...
1    Soft, supple plum envelopes an oaky structure ...
                           ...
8    A blend of Merlot and Cabernet Franc, this win...
9    Big oak defines this robustly dense and extrac...
Name: description, Length: 10, dtype: object

## 10.

Select the records with index labels `4`, `25`, and `35`, assigning the result to the variable `sample_reviews`.

In other words, generate the something like following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

In [ ]:
sample_reviews = reviews.iloc[[4,25,35]]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
4,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath
25,US,"Cooked cranberry is spiced with anise, pepperc...",Guidotti Vineyard,91,64.0,California,Santa Lucia Highlands,Central Coast,Matt Kettmann,@mattkettmann,Testarossa 2013 Guidotti Vineyard Pinot Noir (...,Pinot Noir,Testarossa
35,US,This wine is put together from multiple vineya...,Dutton Ranch,91,44.0,California,Russian River Valley,Sonoma,Virginie Boone,@vboone,Dutton-Goldfield 2014 Dutton Ranch Pinot Noir ...,Pinot Noir,Dutton-Goldfield

## 11.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `4`, `25`, and `35`. In other words, generate something like the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [ ]:
df = reviews[['country', 'province', 'region_1', 'region_2']].iloc[[4,25,35]]
df

   country    province               region_1           region_2
4       US      Oregon            McMinnville  Willamette Valley
25      US  California  Santa Lucia Highlands      Central Coast
35      US  California   Russian River Valley             Sonoma

## 12.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records. 

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them!

In [ ]:
df = reviews[['country', 'variety']].iloc[:100]
df

   country             variety
0       US          Pinot Noir
1       US  Cabernet Sauvignon
..     ...                 ...
98      US  Cabernet Sauvignon
99      US           Red Blend

[100 rows x 2 columns]

## 13.

Create a DataFrame `oregon_wines` containing reviews of wines made in `Oregon`. Hint: `reviews.province` equals what?

In [ ]:
oregon_wines = reviews[reviews.province == 'Oregon']
oregon_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
4,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,US,The Nicholas reserve sees one-third new French...,Reserve Nicholas Vineyard,90,50.0,Oregon,Chehalem Mountains,Willamette Valley,Paul Gregutt,@paulgwine,Anam Cara 2014 Reserve Nicholas Vineyard Pinot...,Pinot Noir,Anam Cara
22352,US,Chewy and packed with flavors of dark chocolat...,Sunny Mountain Vineyard,90,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sunny Mountain Vineyard Pinot No...,Pinot Noir,Rex Hill

## 14.

Create a DataFrame `top_oregon_newyork_wines` containing all reviews with at least 80 points (out of 100) for wines from Oregon or New York.

Hint: use "isin(...)"

In [ ]:
top_oregon_newyork_wines = reviews[reviews.province.isin(['Oregon', 'New York'])][reviews.points >= 80]
top_oregon_newyork_wines

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
4,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,US,The Nicholas reserve sees one-third new French...,Reserve Nicholas Vineyard,90,50.0,Oregon,Chehalem Mountains,Willamette Valley,Paul Gregutt,@paulgwine,Anam Cara 2014 Reserve Nicholas Vineyard Pinot...,Pinot Noir,Anam Cara
22352,US,Chewy and packed with flavors of dark chocolat...,Sunny Mountain Vineyard,90,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sunny Mountain Vineyard Pinot No...,Pinot Noir,Rex Hill

## 15.

What is the median of the `points` column in the `reviews` DataFrame?

In [ ]:
import numpy as np
reviews.points.median()

88.0

## 16. 
What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [ ]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

## 17.
How often does each taster appear in the dataset? Create a Series `reviews_per_tastername` mapping taster_name to the count of reviews of wines from that taster.

In [ ]:
reviews_per_tastername = reviews['taster_name'].value_counts()
reviews_per_tastername

Virginie Boone       6422
Paul Gregutt         5989
                     ...
Roger Voss              1
Christina Pickard       1
Name: taster_name, Length: 11, dtype: int64

## 18.
Create variable `centered_price` containing a version of the `price` column with the mean price subtracted using:

1> map() function

2> apply() function

3> None of map() function nor apply() function

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

1> map() function

In [ ]:
centered_price = reviews.price.map(lambda p: p - reviews.price.mean())
centered_price

0        23.534596
1       -22.465404
           ...
22385    -6.465404
22386    -6.465404
Name: price, Length: 22387, dtype: float64

2> apply() function

In [ ]:
def remean_price(row):
    row.price = row.price - reviews.price.mean()
    return row

centered_price = reviews.apply(remean_price, axis='columns')
centered_price

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,23.534596,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
1,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,-22.465404,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22385,US,There's no bones about the use of oak in this ...,Barrel Fermented,90,-6.465404,California,Napa Valley,Napa,Virginie Boone,@vboone,Flora Springs 2013 Barrel Fermented Chardonnay...,Chardonnay,Flora Springs
22386,US,This opens with herbaceous dollops of thyme an...,Blocks 7 & 22,90,-6.465404,California,Napa Valley,Napa,Virginie Boone,@vboone,Hendry 2012 Blocks 7 & 22 Zinfandel (Napa Valley),Zinfandel,Hendry

3> None of map() function nor apply() function

In [ ]:
centered_price = reviews.price - reviews.price.mean()
centered_price

0        23.534596
1       -22.465404
           ...
22385    -6.465404
22386    -6.465404
Name: price, Length: 22387, dtype: float64

## 19.
I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [ ]:
bargain_wine = reviews.title[(reviews.points/reviews.price).idxmax()]
bargain_wine

"Pam's Cuties NV Unoaked Chardonnay (California)"

## 20.
There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [ ]:
n_tropical = reviews.description.map(lambda desc : 'tropical' in desc).sum()
n_fruity = reviews.description.map(lambda desc : 'fruity' in desc).sum()
descriptor_counts = pd.Series([n_tropical, n_fruity], index = ['tropical', 'fruity'])
descriptor_counts

tropical    452
fruity      761
dtype: int64

## 21.
We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the New York Vintners Association bought a lot of ads on the site, so any wines from New York should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [ ]:
def stars(row):
    if row.country == 'New York':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1
star_ratings = reviews.apply(stars, axis='columns')
star_ratings

0        2
1        2
        ..
22385    2
22386    2
Length: 22387, dtype: int64

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [ ]:
import pandas as pd
reviews = pd.read_csv("/content/drive/MyDrive/통프/winemag-data-130k-v2.csv", index_col = 0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## 22.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
common_wine_reviewers = reviews['taster_twitter_handle'].value_counts()
common_wine_reviewers

@vossroger         25514
@wineschach        15134
                   ...
@bkfiona              27
@winewchristina        6
Name: taster_twitter_handle, Length: 15, dtype: int64

## 23.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [ ]:
best_wine = reviews.groupby('price').points.max()
best_wine

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## 24.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [ ]:
wine_price_extremes = reviews.groupby('variety').price.agg([min, max])
wine_price_extremes

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

## 25.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
sorted_varieties = wine_price_extremes.sort_values(by = ['min', 'max'], ascending = False)
sorted_varieties

             min    max
variety
Ramisco    495.0  495.0
Terrantez  236.0  236.0
...          ...    ...
Vital        NaN    NaN
Zelen        NaN    NaN

[707 rows x 2 columns]

## 26.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [ ]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [ ]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
           ...
75%      88.975256
max      90.562551
Name: points, Length: 8, dtype: float64

## 27.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [ ]:
country_variety_pairs = reviews.groupby(['country', 'variety']).size().sort_values(ascending = False)
country_variety_pairs

country  variety
US       Pinot Noir            9885
         Cabernet Sauvignon    7315
                               ...
Mexico   Rosado                   1
Uruguay  White Blend              1
Length: 1612, dtype: int64

## 28. 
What is the data type of the `points` column in the dataset?

In [ ]:
reviews.points.dtype

dtype('int64')

## 29. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [ ]:
reviews.points.astype("str")

0         87
1         87
          ..
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 30.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [ ]:
missing_price = reviews[reviews.price.isnull()]
print(len(missing_price))

8996

## 31.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [ ]:
reviews['region_1'] = reviews['region_1'].fillna('Unknown')
reviews['region_1'].value_counts()

Unknown                    21247
Napa Valley                 4480
                           ...
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

## 32.
`region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively.

In [ ]:
renamed = reviews.rename(columns = {"region_1" : "region", "region_2" : "locale"})
renamed

,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## 33.
Set the index name in the dataset to `wines`.

In [ ]:
reviews = reviews.rename_axis("wines", axis = "rows")
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wines,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## 34~36

You have the following information on customer.

In [ ]:
import pandas as pd

cust = {"customer_id":[101,102,103,104,105], "name":["Kim", "Tong", "Wang", "Oh", "Lee"], "Gender":["F", "F", "F", "M", "M"]}
customer = pd.DataFrame(cust)
customer

   customer_id  name Gender
0          101   Kim      F
1          102  Tong      F
2          103  Wang      F
3          104    Oh      M
4          105   Lee      M

You also have the following information on the accident:

In [ ]:
acci = {"accident_id":[1,2,3,4,5,6,7,8,9,10], "loss_amount":[345, 210, 230, 102, 441, 981, 104, 85, 102, 76], "year":[2015, 2016, 2017, 2018, 2019, 2020, 2019, 2018, 2017, 2016], "customer_id":[101, 103, 104, 102, 105, 107, 108, 101, 103, 110]}
accident = pd.DataFrame(acci)
accident

    accident_id  loss_amount  year  customer_id
0             1          345  2015          101
1             2          210  2016          103
..          ...          ...   ...          ...
8             9          102  2017          103
9            10           76  2016          110

[10 rows x 4 columns]

Answer the following questions.

## 34. Make a pandas table which include all the information on customer (101~105) and corresponding accidents.

In [ ]:
pd.merge(customer, accident, on = "customer_id")

    customer_id name Gender  accident_id  loss_amount  year
0           101  Kim      F            1          345  2015
1           101  Kim      F            8           85  2018
..          ...  ...    ...          ...          ...   ...
5           104   Oh      M            3          230  2017
6           105  Lee      M            5          441  2019

[7 rows x 6 columns]

## 35. Calculate the total loss for each customer (101~105).

In [ ]:
pd.merge(customer, accident, on = "customer_id").groupby("customer_id").loss_amount.sum()

customer_id
101    430
102    102
103    312
104    230
105    441
Name: loss_amount, dtype: int64

## 36. Calculate the total loss for Female (Gender="F") and Male (Gender="M"), respectively.

In [ ]:
pd.merge(customer, accident, on = "customer_id").groupby("Gender").loss_amount.sum()

Gender
F    844
M    671
Name: loss_amount, dtype: int64